*{
    margin: 0;
    padding: 0;
    border: 0;
}
.principal{
    height: 90vh;
    background-color: lightblue;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
}

